.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 250px));
  }
}

.eachPerson {
  border: 2px solid;
  padding: 10px;
  box-shadow: 10px 10px #615e5e;
  border-radius: 5%;
  justify-content: center;
}

.everyPersonImg {
  width: 300px;
  border-radius: 50%;
}

.everyPersonLogin {
  text-decoration: none;
  color: rgb(69, 69, 248);
}

.everyPersonLogin:hover {
  color: blue;
}

.openProfile {
  border-radius: 1px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  width: 100px;
  cursor: pointer;
  margin: 8px;
}
