.displayFollowing {
  display: flex;
  flex-direction: row;
  margin: 2em;
  border-bottom: 1px solid rgb(99, 63, 63);
  width: 75vw;
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

.followingPersonImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.followingPerson_login {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-left: 16px;
}

.followingPerson_login:hover {
  color: rgb(69, 80, 243);
  cursor: pointer;
}
