.allUsers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info {
  display: flex;
  justify-content: center;
}

.information:hover {
  color: rgb(69, 80, 243);
  cursor: pointer;
}

.information {
  color: white;
}

.followers_login {
  color: white;
}

.wholeinfo {
  display: flex;
  flex-direction: row;
}

.displayFolowers {
  display: flex;
  flex-direction: row;
  margin: 2em;
  border-bottom: 1px solid rgb(99, 63, 63);
}

.displaystarred {
  display: flex;
  flex-direction: column;
  margin: 2em;
  border-bottom: 1px solid rgb(99, 63, 63);
}

.followersImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.starredReposInfo {
  color: #8b949e;
  display: flex;
  flex-direction: row;
}

.button {
  float: left;
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: " \226A";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -50px;
  transition: 0.5s;
}

.button:hover span {
  padding-left: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
